[submodule "https-github.com-newrelic-newrelic-fluent-bit-output"]
	path = https-github.com-newrelic-newrelic-fluent-bit-output
	url = https://github.com/umeshit/https-github.com-newrelic-newrelic-fluent-bit-output
	1
